{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-unexpected-multiline": ["error"],
    "react/jsx-uses-react":  ["error"],
    "react/jsx-uses-vars": ["error"],
    "react/prop-types": ["warn"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
