[user]
  email = halliday.kevin7@gmail.com
  name = Kevin Halliday
[core]
  editor = nvim
  pager = cat
[pull]
  rebase = false
[pager]
  diff = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
