# Author: Kevin Halliday
# Date: 8/23/2018

$include /etc/inputrc
"\C-p":history-search-backward
"\C-n":history-search-forward

set colored-stats On
# this made me delete a main.py when trying to delete a Makefile
# set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

# Tab completion:
# Cycle forward = Tab
# Cycle backward = Shift-Tab
# Default tab complete = Ctrl-q
TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-q": complete
